@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0 !important;
	margin: 0 !important;
	@apply font-primary;
	@apply bg-light-200 scroll-smooth;
	@apply text-dark-500;
	z-index: -2 !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/**************************************************************************/
/************************    React Datepicker   ***************************/
/**************************************************************************/
.react-datepicker {
	@apply rounded-md border-2 border-primary-500 overflow-hidden !important;
}

.react-datepicker__header {
	@apply rounded-sm;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
	@apply bg-primary-600 text-light-100 !important;
}

.react-datepicker__input-container > input {
	@apply w-full focus:ring-primary-500 focus:border-primary-500 block pl-10 text-sm border border-gray-300 text-dark-300 rounded-md transition duration-300 cursor-pointer !important;
}

.react-datepicker__input-container > input:focus {
	outline: none;
	border: 2px solid #6cc027;
}

.react-datepicker__day--selected {
	@apply bg-primary-600 !important;
}

.react-datepicker__navigation-icon {
	@apply text-primary-600 !important;
}

/**************************************************************************/
/*****************************    Footer   ********************************/
/**************************************************************************/

.footer {
	@apply w-full max-w-[1920px] py-16 px-6 md:px-8 lg:px-16 xl:px-20 backdrop-blur-2xl backdrop-brightness-150;
}

/**************************************************************************/
/*********************    Loading ring animation   ************************/
/**************************************************************************/

.loader {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: inline-block;
	border-top: 2px solid #fff;
	border-right: 2px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.bgGradient {
	background-image: linear-gradient(95.79deg, #a76fff 10.21%, #7445f8 100%);
}

/**************************************************************************/
/****************************    Calendar   *******************************/
/**************************************************************************/

.react-calendar {
	border: transparent !important;
	width: 100% !important;
	@apply font-primary m-0 p-0 !important;
}

.react-calendar__month-view__weekdays__weekday {
	@apply pb-[22.38px] !important;
	@apply font-primary !important;
}

.react-calendar__month-view__weekdays {
	@apply text-sm text-neutral-900 font-normal !important;
	text-transform: none !important;
	@apply font-primary !important;
}
.react-calendar__viewContainer {
	@apply border-b border-neutral-200 pb-4 !important;
}

abbr[title] {
	text-decoration: none !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
	display: none !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
	display: none !important;
}

.react-calendar__navigation {
	@apply flex border-b border-neutral-200 pb-2 !important;
}

.react-calendar__navigation__label {
	@apply order-first text-base text-start text-dark-200 !important;
}

.react-calendar__navigation__label:disabled {
	@apply bg-transparent !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
	@apply rounded-md p-0 m-0 hover:bg-neutral-200 transition duration-300 !important;
}

.react-calendar__tile {
	@apply p-[1px] flex justify-center items-center !important;
}

.react-calendar__tile > abbr {
	@apply w-fit h-fit min-w-[40px] min-h-[40px] m-0 p-2 flex justify-center items-center rounded-full hover:bg-neutral-200 transition duration-300 !important;
}

.react-calendar__tile.react-calendar__month-view__days__day {
	@apply font-primary bg-transparent !important;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
	@apply text-neutral-900 font-primary !important;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
	@apply text-neutral-400 font-primary !important;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day
	> abbr {
	@apply bg-[#4B4EFC] text-light-100 rounded-full font-primary !important;
}
